.kontejner{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.main-nav{
    display: flex;
    list-style: none;
    justify-content: space-between;

}
.main-nav a{
    color: inherit;
    padding: 10px 15px;


}
.main-nav a:hover{
    color: black;

}
.main-nav li:last-child{
    color: red;
    border: 2px solid;
    background-color: aqua;
}
.main-nav li:last-child:hover{
    background-color: wheat;
}
body{
    background-color: blue;
    color: aliceblue;
}
body img{
align-items: center;

}