.zaglavlje{

    border-block-style:solid;
}
.prvi-meni{
    margin-top: 10px;
    margin-left: 5px;
    background-color:red;
    color: aliceblue;
    padding-top: 2px;

}
.drugi-meni{
    background-color:blue;
    margin-top: 10px;

;
}
.drugi-meni li {
    padding-top: 2px;
    list-style: none;
    display: inline-block;
    margin-left: 20px;

}
.drugi-meni li a{
    color: aliceblue;
    text-transform: uppercase;
    text-decoration: none;
}
